.imgSec{height: 400px; width: 100%; padding-top: 30px;}
.imgIndex{height: 600px; width: 100%; padding: 10px;}
.imgAtencion{height: 500px; width: 100%; padding: 10px;}
.imgMarcas{height: 50px;}
.listaAtencion{height: 30px;}
.imgContacto{height: 400px; width: 100%; padding: 10px;}
.flechaRedes{height: 50px;}
.imgNosotros{height: 500px; padding-bottom: 20px;}
.imgSecNosotros{height: 400px; width: 100%; padding: 5px;}
.imgGrandeNosotros{height: 900px;}
